DB_URL=jdbc:postgresql://localhost:5432/identityDB
DB_USERNAME=postgres
DB_PASSWORD=identity123

MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USERNAME=your-brevo-smtp-login
MAIL_PASSWORD=your-brevo-smtp-key
MAIL_FROM=no-reply@your-verified-domain.com
APP_BASE_URL=http://localhost:3000
EMAIL_VERIFICATION_TTL=24h
